body {
    margin: 0px;
    padding: 0px;
    background: #08131d;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    



}

h1 {
    /* background: linear-gradient(to right,rgb(67,124,205),rgb(69,214,202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    position: absolute;
    top:80px;
    left:50px;
    height: fit-content;
    width: fit-content;
    animation: fade 1s ease-in 0.5s;
    pointer-events: none;
    padding: 2rem 4rem;
    background-color: #88a3ef36;
    border-radius: 10rem;
    box-shadow: #755bea;
    color:rgb(177, 181, 104);


}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#generator {
    position: absolute;
    top: 300px;
    left: 185px;
    width: 980px;
    /* overflow-y: auto; */
    height: 300px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    line-height: 1.3em;
    color:rgb(177, 181, 104);
    


}

#inputField {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 960px;
    top: 700px;
    left: 200px;



}

#inputForWordSpeed {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding:10px 30px;
    width: 250px;
    
    /* border-radius: 30px; */
    /* background: linear-gradient(90deg,rgb(111, 111, 171),rgb(11, 11, 126)); */
    font-weight: bolder;
    outline: none;

}


#startBtn {
    position: relative;
    display: inline-block;
    background: #e8f3fd;
    color: rgb(255, 94, 0);
    letter-spacing: 1px;
    text-decoration: lowercase;
    padding:10px 15px;
    margin: 10px 0px;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 800;
    font-size: 12px;
   
    cursor: pointer;

}

#startBtn:hover {
    color: #255785;

    background: black;
    box-shadow: 0 0 10px white, 0 0 50px black, 0 0 100px #2196f3;

}

#nextBtn {
    position: relative;
    display: inline-block;
    padding:10px 30px;
    margin: 10px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    /* border-radius: 40px; */
    background: linear-gradient(90deg, #755bea, #ff72c0);


}

#displayTimer {

    background: linear-gradient(90deg, #0162c8, #55e7fc);
    color: black;
    font-size: 20px;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    pointer-events: none;
    opacity: 0;
    display: none;
}

.letters {
    margin: 0px 1rem;
}

#elementForStatistics {
    width: 400px;
    height: 300px;
    display: none;
    justify-content: center;
    position: absolute;
    font-family: cursive;
    top: 300px;
    flex-direction: column;
    left: 1300px;
    box-shadow: 0 0 10px black, 0 0 100px #2196f3;
    color: lime;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 24px; 

}

/* #forStyle {
    width: 100px;
    height: 50px;
    border-radius: 10rem;
    background-color: wheat;

} */